@{
    ViewData["Title"] = "About";
    Layout = "_StaticLayout";
}
<asp:content contentplaceholder id="css" runat="server">
    <link href="~/assets/css/about.css" rel="stylesheet" />
</asp:content>

<section>
    <div>
        <img class="about-banner" src="~/assets/images/hero-banner-img.png" alt="" />
    </div>
</section>

<!-- a few words about us -->
<section>
    <div class="container a-few-words-about-us">
        <div class="text-center">
            <h2>A Few words about us</h2>
            <hr class="star-hr">
            <img style="margin-bottom: 24px;" src="~/assets/images/forma-1-copy-5.png" alt="">
            <hr class="star-hr">
        </div>

        <div class="text-center a-few-word-about-us-details">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe et ex iste voluptatem inventore deleniti quaerat tempore. Quod veritatis ipsa quidem eaque! Quis totam ratione reiciendis cum, quas labore adipisci sint alias, corrupti, veritatis eligendi facilis repellendus? Excepturi id dignissimos dolorem impedit, repellat, consectetur praesentium, non aperiam autem alias fugiat itaque in. Officia non commodi fuga consequatur aperiam nihil nobis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, quae et officiis blanditiis obcaecati facere laboriosam earum consequuntur veritatis doloribus dolore, eligendi odit, corrupti corporis odio unde! Rem accusamus adipisci cupiditate animi reiciendis nihil voluptas placeat magni. Ipsa, eveniet unde! Voluptates hic porro beatae dignissimos. Repudiandae tenetur dolor quod nostrum dolore at eos natus nihil et architecto. Eligendi animi ratione dolor enim sequi impedit sapiente, aliquam vero quas eveniet ullam molestias nemo quibusdam veniam voluptates eius quis. Nam, blanditiis distinctio quidem corporis aliquid unde, iste repellat maiores velit ipsam animi debitis, eos perferendis culpa enim voluptatem? Adipisci omnis corrupti placeat.</p>

        </div>
    </div>
</section>

<!-- our story -->
<section>
    <div class="container our-story">
        <div class="text-center">
            <h2>Our Story</h2>
            <hr class="star-hr">
            <img style="margin-bottom: 24px;" src="~/assets/images/forma-1-copy-5.png" alt="">
            <hr class="star-hr">
        </div>

        <div class="text-center our-story-details">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe et ex iste voluptatem inventore deleniti quaerat tempore. Quod veritatis ipsa quidem eaque! Quis totam ratione reiciendis cum, quas labore adipisci sint alias, corrupti, veritatis eligendi facilis repellendus? Excepturi id dignissimos dolorem impedit, repellat, consectetur praesentium, non aperiam autem alias fugiat itaque in. Officia non commodi fuga consequatur aperiam nihil nobis.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, eum corporis molestiae voluptates quae nisi doloribus alias consequatur expedita, id culpa at maiores veniam perferendis in facere! Eveniet, delectus et.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis non numquam eius exercitationem voluptatum, dolore odio deserunt sunt facilis porro pariatur autem itaque perferendis harum similique delectus unde totam, voluptates aut corrupti nobis labore ad nulla! Blanditiis libero harum animi.</p>

        </div>
    </div>
</section>


<!-- Get our newsletter -->
<section>
    <div class="row mt-3 bottom-two-btn">
        <div class="col-6">
            <div class="ps-4">
                <a href="#">
                    <img class="arrow-up" src="~/assets/images/arrow-up-circle-border.bmp" alt="">
                </a>
            </div>
        </div>
        <div class="col-6 text-end">
            <div class="pe-4">
                <img src="~/assets/images/layer-598.png" alt="">
            </div>
        </div>
    </div>
    <div class="row justify-content-center get-our-newsletter">
        <div class="col col-auto get-our-newslwtter">
            <h6>GET OUR NEWSLWTTER</h6>
        </div>
    </div>
    <div class="row justify-content-center enter-your-mail-and-submit mb-5">
        <div class="col col-auto">
            <form class="row g-3">
                <div class="col-12 text-center col-sm-auto">
                    <label for="inputEmail" class="visually-hidden">E-mail</label>
                    <input type="email" class="form-control email m-0" id="inputEmail" placeholder="YOUR EMAIL">
                </div>
                <div class="col-12 text-center col-sm-auto">
                    <button type="submit" class="btn btn-primary mb-3 btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>