@* @model Helperland.Models.ViewModel.BookServiceViewModel *@

@{
    ViewData["Title"] = "Book a Service";
    Layout = "_StaticLayout";
}
<asp:content contentplaceholder id="css" runat="server">
    <link href="~/assets/css/book-service.css" rel="stylesheet" />
</asp:content>

<section>
    <div class="container mt-3 mb-5">
        <div class="text-center">
            <h3>Set up your cleaning service</h3>
            <hr class="star-hr">
            <img style="margin-bottom: 24px;" class="text-center" src="~/assets/images/forma-1-copy-5.png" alt="">
            <hr class="star-hr">
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">

                <ul class="nav nav-pills justify-content-center tab-border-bottom" id="pills-tab" role="tablist">

                    <li class="col nav-item" role="presentation">
                        <button class="nav-link service-tab service-tab-active" id="pill-setupService-tab"
                            data-bs-toggle="pill" data-bs-target="#pill-setupService" type="button" role="tab"
                            aria-controls="pill-setupService" aria-selected="true">
                            <img class="setup-img setup-img-white" src="~/assets/images/setup-service.png"
                                id="img-setup-service" alt="">
                            Setup Service
                        </button>
                    </li>
                    <li class="col nav-item" role="presentation">
                        <button disabled class="nav-link service-tab" id="pill-schedulePlan-tab" data-bs-toggle="pill"
                            data-bs-target="#pill-schedulePlan" type="button" role="tab"
                            aria-controls="pill-schedulePlan" aria-selected="false">
                            <img class="setup-img" src="~/assets/images/schedule-plan.png" id="img-schedule-plan"
                                alt="">
                            Schedule & Plan
                        </button>
                    </li>
                    <li class="col nav-item" role="presentation">
                        <button disabled class="nav-link service-tab" id="pill-yourDetails-tab" data-bs-toggle="pill"
                            data-bs-target="#pill-yourDetails" type="button" role="tab" aria-controls="pill-yourDetails"
                            aria-selected="false">
                            <img class="setup-img" src="~/assets/images/user-details.png" id="img-user-details" alt="">
                            Your Details
                        </button>
                    </li>
                    <li class="col nav-item" role="presentation">
                        <button disabled class="nav-link service-tab" id="pill-payment-tab" data-bs-toggle="pill"
                            data-bs-target="#pill-payment" type="button" role="tab" aria-controls="pill-payment"
                            aria-selected="false">
                            <img class="setup-img" src="~/assets/images/payment.png" id="img-payment" alt="">
                            Make Payment
                        </button>
                    </li>
                </ul>



                <div class="tab-content" id="pills-tabContent">
                    <!-- setup-service -->
                    <div class="tab-pane fade show active" id="pill-setupService" role="tabpanel"
                        aria-labelledby="pill-setupService-tab">
                        <div class="mt-3">

                            <b>Enter your Postal Code</b>

                            <form id="form-pincode">
                                <div class="row mt-2">
                                    <div class="col-5">
                                        <input type="number" class="form-control" placeholder="Postal code"
                                            aria-label="Postal code" id="postalCode">
                                        <span id="error-postalCode" class="text-danger"></span>
                                    </div>
                                    <div class="col-auto">
                                        <button type="submit" class="btn btn-primary btn-submit-form">
                                            Check
                                            Availibility
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- schedule-plan -->
                    <div class="tab-pane fade" id="pill-schedulePlan" role="tabpanel"
                        aria-labelledby="pill-schedulePlan-tab">
                        <div class="row mt-3">
                            <div class="col-6 pe-5">
                                <b>When do you need the cleaner? </b>
                                <div class="row mt-2">
                                    <div class="col">
                                        <!-- Input type date -->
                                        <div class="date-div">
                                            <img class="img-calendar" src="~/assets/images/calendar-setup-service.png"
                                                alt="">
                                            <input class="input-date" type="date" name="" id="date-book-service">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <select class="input-start-time form-select" aria-label="Default select example"
                                            id="start-time-book-service">
                                            <option value="08:00" selected>8:00</option>
                                            <option value="08:30">8:30</option>
                                            <option value="09:00">9:00</option>
                                            <option value="09:30">9:30</option>
                                            <option value="10:00">10:00</option>
                                            <option value="10:30">10:30</option>
                                            <option value="11:00">11:00</option>
                                            <option value="11:30">11:30</option>
                                            <option value="12:00">12:00</option>
                                            <option value="12:30">12:30</option>
                                            <option value="13:00">13:00</option>
                                            <option value="13:30">13:30</option>
                                            <option value="14:00">14:00</option>
                                            <option value="14:30">14:30</option>
                                            <option value="15:00">15:00</option>
                                            <option value="15:30">15:30</option>
                                            <option value="16:00">16:00</option>
                                            <option value="16:30">16:30</option>
                                            <option value="17:00">17:00</option>
                                            <option value="17:30">17:30</option>
                                            <option value="18:00">18:00</option>
                                            <option value="18:30">18:30</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <b>How long do you need your cleaner to stay?</b>
                                <div class="row mt-2">
                                    <div class="col-auto">
                                        <select class="input-stay-time form-select" aria-label="Default select example"
                                            id="basic-stay-time">
                                            <option value="3">3:00 Hrs</option>
                                            <option value="3.5">3:30 Hrs</option>
                                            <option value="4">4:00 Hrs</option>
                                            <option value="4.5">4:30 Hrs</option>
                                            <option value="5">5:00 Hrs</option>
                                            <option value="5.5">5:30 Hrs</option>
                                            <option value="6">6:00 Hrs</option>
                                            <option value="6.5">6:30 Hrs</option>
                                            <option value="7">7:00 Hrs</option>
                                            <option value="7.5">7:30 Hrs</option>
                                            <option value="8">8:00 Hrs</option>
                                            <option value="8.5">8:30 Hrs</option>
                                            <option value="9">9:00 Hrs</option>
                                            <option value="9.5">9:30 Hrs</option>
                                            <option value="10">10:00 Hrs</option>
                                            <option value="10.5">10:30 Hrs</option>
                                            <option value="11">11:00 Hrs</option>
                                            <option value="11.5">11:30 Hrs</option>
                                            <option value="12">12:00 Hrs</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mt-4">

                        <div class="mt-4">
                            <b>Extra Services</b>
                            <div class="row mt-4">
                                <div class="my-col-2 text-center">
                                    <label>
                                        <div class="rounded-grey-box mb-2">
                                            <input class="d-none checkbox-extra-service" type="checkbox"
                                                id="myCheckbox1" value="1" name="extra-services"/>
                                            <img class="img-extra-service" src="~/assets/images/cabinate.png" alt="">
                                        </div>
                                        <p>Inside cabinate</p>
                                    </label>
                                </div>
                                <div class="my-col-2 text-center">
                                    <label>
                                        <div class="rounded-grey-box mb-2">
                                            <input class="d-none checkbox-extra-service" type="checkbox"
                                                id="myCheckbox1" value="2" name="extra-services"/>
                                            <img class="img-extra-service" src="~/assets/images/fridge.png" alt="">
                                        </div>
                                        <p>Inside fridge</p>
                                    </label>
                                </div>
                                <div class="my-col-2 text-center">
                                    <label>
                                        <div class="rounded-grey-box mb-2">
                                            <input class="d-none checkbox-extra-service" type="checkbox"
                                                id="myCheckbox1" value="3" name="extra-services"/>
                                            <img class="img-extra-service" src="~/assets/images/oven.png" alt="">
                                        </div>
                                        <p>Inside oven</p>
                                    </label>
                                </div>
                                <div class="my-col-2 text-center">
                                    <label>
                                        <div class="rounded-grey-box mb-2">
                                            <input class="d-none checkbox-extra-service" type="checkbox"
                                                id="myCheckbox1" value="4" name="extra-services"/>
                                            <img class="img-extra-service" src="~/assets/images/washing-machine.png"
                                                alt="">
                                        </div>
                                        <p>Laundry wash & dry</p>
                                    </label>
                                </div>
                                <div class="my-col-2 text-center">
                                    <label>
                                        <div class="rounded-grey-box mb-2">
                                            <input class="d-none checkbox-extra-service" type="checkbox"
                                                id="myCheckbox1" value="5" name="extra-services"/>
                                            <img class="img-extra-service" src="~/assets/images/window.png" alt="">
                                        </div>
                                        <p>Interior window</p>
                                    </label>
                                </div>
                            </div>


                        </div>

                        <hr class="mt-4">

                        <div class="mt-4">
                            <b>Comments</b>
                            <textarea class="form-control" placeholder="Comments" id="schedule-plan-comments"></textarea>
                            <div class="form-check mb-2 input-check">
                                <input class="form-check-input" type="checkbox" value="" id="havePet">
                                <label class="form-check-label" for="havePet">
                                    <p>I have pets at home</p>
                                </label>
                            </div>
                        </div>

                        <hr class="mt-4">

                        <div class="text-end">
                            <button type="button" class="btn btn-primary btn-submit-form"
                                id="schedule-plan-btn-continue">Continue</button>
                        </div>
                    </div>

                    <!-- your-details -->
                    <div class="tab-pane fade" id="pill-yourDetails" role="tabpanel"
                        aria-labelledby="pill-schedulePlan-tab">
                        <div class="mt-3">
                            <b>Enter your contact details, so we can serve you in better way!</b>
                            <div id="list-of-addresses"></div>

                            <div>
                                <button type="submit" class="btn btn-primary btn-add-new-address mt-3"
                                    id="btn-add-new-address">
                                    + Add New
                                    Address
                                </button>
                            </div>
                            <div id="add-new-address-div" class="mt-3 new-address">
                                <div class="row">
                                    <div class="col-6">
                                        <label for="street-name">Street name</label>
                                        <input type="text" class="form-control mb-3" placeholder="Street name"
                                            id="add-new-address-form-street-name">
                                    </div>
                                    <div class="col-6">
                                        <label for="house-number">House number</label>
                                        <input type="text" class="form-control mb-3" placeholder="House number"
                                            id="add-new-address-form-house-number">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="address-postal-code">Postal code</label>
                                        <input disabled type="number" class="form-control mb-3"
                                            placeholder="Postal code" id="add-new-address-form-postal-code">
                                    </div>
                                    <div class="col-6">
                                        <label for="city">City</label>
                                        <input disabled type="text" class="form-control mb-3" placeholder="City"
                                            id="add-new-address-form-city">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="phone">Phone number</label>
                                        <div class="input-group mb-3 input-number">
                                            <span class="input-group-text" id="basic-addon1">+49</span>
                                            <input type="number" class="form-control" placeholder="Phone Number"
                                                id="add-new-address-form-phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary btn-submit-form ms-3"
                                        id="add-new-address-btn-save">Save</button>
                                    <button type="submit" class="btn btn-primary btn-address-cancel"
                                        id="add-new-address-btn-cancel">Cancel</button>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <div id="fev-sp-header-div">
                                <b>Your Favourite Service Providers</b>
                                <hr>
                                <p>You can choose favourite service provider from the below list.</p>
                            </div>
                            <div class="row" id="list-of-favourite-sp">
                                @* <div class="my-col-2 text-center">
                                    <label>
                                        <div class="rounded-grey-box mb-2">
                                            <img class="fev-sp-icon" src="~/assets/images/cap.png" alt="">
                                        </div>
                                        <b>Sandip Patel</b>
                                        <div class="btn btn-primary btn-select-sp mt-3">
                                            <input class="fev-sp-input d-none" type="checkbox" name="fev-sp" id="">
                                            Select
                                        </div>
                                    </label>
                                </div> *@
                            </div>

                            <div class="mt-4 text-end">
                                <hr>
                                <button type="submit" class="btn btn-primary btn-submit-form mt-2" id="your-details-continue">Continue</button>
                            </div>
                        </div>
                    </div>

                    <!-- payment -->
                    <div class="tab-pane fade" id="pill-payment" role="tabpanel"
                        aria-labelledby="pill-schedulePlan-tab">
                        <div class="mt-4">
                            <b>Pay securely with Helperland payment gateway!</b>
                            <div class="row mt-2">
                                <p>Promo code (optional)</p>
                                <div class="col-5">
                                    <input type="text" class="form-control" placeholder="Promo code (optional)"
                                        aria-label="Promo code" id="promo">
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-primary btn-apply">Apply</button>
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div>
                            <input type="text" class="form-control" placeholder="Card number" aria-label="Promo code"
                                id="promo">
                            <div class="text-end mt-4">
                                <p style="font-size: 10px;">Accepted cards</p>
                                <img src="~/assets/images/payment-card.jpg" alt="" width="150px">
                            </div>
                            <hr>
                            <div class="form-check mb-2 input-check">
                                <input class="form-check-input" type="checkbox" value="" id="terms">
                                <label class="form-check-label" for="terms">
                                    I accept terms and conditions& privacy policy Lorem, ipsum dolor sit amet
                                    consectetur adipisicing elit. Architecto totam dignissimos expedita dolorum
                                    debitis
                                    quas illo asperiores suscipit? Eaque dicta quisquam molestiae accusamus
                                    distinctio
                                    amet?</span>
                                </label>
                            </div>
                            <hr>
                        </div>

                        <div class="mt-4 text-end">
                            <hr>
                            <button type="submit" class="btn btn-primary btn-submit-form mt-2" id="payment-complete-booking">
                                Complete
                                Booking
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4" id="payment-summary-div">
                <div class="card" style="width: 100%">
                    <div class="card-header">
                        Payment Summary
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span id="span-selected-date-time"></span>
                            <span>Duration</span><br>
                            <span>
                                Basic
                                <span style="float: right;"><span id="span-basic-hours">0</span> Hrs</span>
                            </span>

                            <b id="extras-title"></b>
                            <span class="d-none" id="span-inside-cabinet">
                                Inside cabinet
                                <span style="float: right;">30 Min.</span><br>
                            </span>
                            <span class="d-none" id="span-inside-fridge">
                                Inside fridge
                                <span style="float: right;">30 Min.</span><br>
                            </span>
                            <span class="d-none" id="span-inside-oven">
                                Inside oven
                                <span style="float: right;">30 Min.</span><br>
                            </span>
                            <span class="d-none" id="span-laundry-wash">
                                Laundry wash & dry
                                <span style="float: right;">30 Min.</span><br>
                            </span>
                            <span class="d-none" id="span-interior-window">
                                Interior window
                                <span style="float: right;">30 Min.</span><br>
                            </span>
                        </li>
                        <li class="list-group-item">
                            Total Service Time
                            <span style="float: right;"><span id="span-total-service-time">0</span> Hrs</span>
                        </li>
                        <li class="list-group-item">
                            Per Cleaning
                            <span style="float: right;"><span id="span-per-cleaning">0.00</span> &euro;</span>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col mt-auto mb-auto">

                                    <h4 class="color-darkBlue">Total Payment</h4>
                                </div>
                                <div class="col-auto">
                                    <h2 class="color-darkBlue" style="float: right;">
                                        <span class="totalPayment" id="span-total-payment">0.00</span> &euro;
                                    </h2>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-footer">
                        <img src="~/assets/images/smiley.png" alt="">
                        <span> See what is always included</span>
                    </div>
                </div>
                <div class="mt-3">
                    <h4 class="text-center mb-3">Questions?</h4>
                    <div id="some-faqs">
                    </div>
                    <a class="more-help color-darkBlue" asp-controller="Home" asp-action="Faq">For more help</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <a href="#" class="modallink d-none" data-bs-toggle="modal" data-bs-target="#booking-modal" id="booking-modal-link">Forgot
        password?</a>
    <div class="modal fade" id="booking-modal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="max-width: 350px; margin-left: 100px;">

                <div class="container mt-3 ms-1 d-flex">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="rounded-circle d-inline-block bg-success" id="booking-modal-right-arrow-div">
                            <img class="ms-4 me-4 mt-4 mb-4 w-25" src="~/assets/images/ic-check.png" alt="">
                        </div>
                        <div id="booking-modal-content-div">
                            <h4 class="mt-3 fw-normal">Booking has been successfully submitted</h4>
                            <p class="mt-3">Service Request Id: <span id="booking-service-span-service-id"></span></p>
                        </div>
                        <button type="submit" class="modal-btn" id="booking-modal-btn-ok">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/assets/js/book-service.js"></script>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}