.book-a-cleaner,
.login,
.become-a-helper {
  background-color: #29626d;
}
.about-banner {
  margin-top: -2px;
  width: 100%;
}
.a-few-words-about-us {
  margin-top: 32px;
}
.a-few-word-about-us-details {
  margin-top: 14px;
}
.our-story {
  margin-top: 78px;
}
.our-story-details {
  margin-top: 17px;
}
