@model Helperland.Models.ViewModel.ViewContactU

@{
    ViewData["Title"] = "Contact us";
    Layout = "_StaticLayout";
}
<asp:content contentplaceholder id="css" runat="server">
    <link href="~/assets/css/contact-us.css" rel="stylesheet" />
</asp:content>

<section>
    <div>
        <img class="contact-us-banner" src="~/assets/images/group-16_2.png" alt="" />
    </div>
</section>

<!-- contact-us -->
<section>
    <div class="container">
        <div class="text-center m-4">
            <h2>Contact us</h2>
            <hr class="star-hr">
            <img style="margin-bottom: 24px;" class="text-center" src="~/assets/images/forma-1-copy-5.png" alt="">
            <hr class="star-hr">
        </div>

        <div class="row justify-content-center">
            <div class="col-auto col-lg-4 col-12">
                <div class="text-center">
                    <div class="m-3">
                        <img src="~/assets/images/forma-1_2.png" alt="">
                    </div>
                    1111 Lorem ipsum text 100 <br>
                    Lorem, ipsum dolor.
                </div>
            </div>
            <div class="col-auto col-lg-4 col-12">
                <div class="text-center">
                    <div class="m-3">
                        <img src="~/assets/images/phone-call.png" alt="">
                    </div>
                    +49(40) 123 56 7890 <br>
                    +49(40) 123 56 7890
                </div>
            </div>
            <div class="col-auto col-lg-4 col-12">
                <div class="text-center">
                    <div class="m-3">
                        <img src="~/assets/images/vector-smart-object.png" alt="">
                    </div>
                    info@helperland.com
                </div>
            </div>
        </div>
        <hr class="mt-5">
    </div>
</section>

<!-- form -->
<section>
    <div class="container form-div">

        <div class="text-center mt-5 mb-4">
            <h3>Get in touch with us</h3>
        </div>

        <form asp-action="Contact" onsubmit="return validateForm()">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row justify-content-center">
                <div class="col-md-6 col-12 bottom-margin-5">
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First name" aria-label="First name" id="fName">
                </div>
                <div class="col-md-6 col-12 bottom-margin-5">
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last name" aria-label="Last name" id="lName">
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6 col-12 bottom-margin-5">
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1">+49</span>
                        <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="Phone Number" id="number">
                    </div>
                </div>
                <div class="col-md-6 col-12 bottom-margin-5">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email address" aria-label="Email address" id="email">
                </div>
            </div>

            <div class="row bottom-margin-5 justify-content-center">
                <div class="col">
                    <select asp-for="Subject" class="form-select" aria-label="Default select example">
                        <option value="General" selected>General</option>
                        <option value="Inquiry">Inquiry</option>
                        <option value="Renewal">Renewal</option>
                        <option value="Revocation">Revocation</option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-center bottom-margin-5">
                <div class="col">
                    <textarea asp-for="Message" class="form-control" placeholder="Message" id="message"></textarea>
                </div>
            </div>

            <div class="row bottom-margin-5 justify-content-center">
                <div class="col text-center">
                    <button type="submit" class="btn btn-primary btn-submit-form">Submit</button>
                </div>
            </div>

        </form>
    </div>

</section>

<!-- map -->
<section>
    <div class="map">
        <img class="map-img" src="~/assets/images/group-16.png" alt="">
    </div>
</section>

<!-- Get our newsletter -->
<section>
    <div class="row mt-3 bottom-two-btn">
        <div class="col-6">
            <div class="ps-4">
                <a href="#">
                    <img class="arrow-up" src="~/assets/images/arrow-up-circle-border.bmp" alt="">
                </a>
            </div>
        </div>
        <div class="col-6 text-end">
            <div class="pe-4">
                <img src="~/assets/images/layer-598.png" alt="">
            </div>
        </div>
    </div>
    <div class="row justify-content-center get-our-newsletter">
        <div class="col col-auto get-our-newslwtter">
            <h6>GET OUR NEWSLWTTER</h6>
        </div>
    </div>
    <div class="row justify-content-center enter-your-mail-and-submit mb-5">
        <div class="col col-auto">
            <form class="row g-3">
                <div class="col-12 text-center col-sm-auto">
                    <label for="inputEmail" class="visually-hidden">E-mail</label>
                    <input type="email" class="form-control email m-0" id="inputEmail" placeholder="YOUR EMAIL">
                </div>
                <div class="col-12 text-center col-sm-auto">
                    <button type="submit" class="btn btn-primary mb-3 btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<asp:content contentplaceholder id="validation-js" runat="server">
    <script src="~/assets/js/contact-us-field-validation.js"></script>
</asp:content>

