@{
    ViewData["Title"] = "Home Page";
}
<asp:content contentplaceholder id="css" runat="server">
    <link href="~/assets/css/home.css" rel="stylesheet" />
</asp:content>
@section headerBgAndContent{
    <section>
        <div class="container">
            <h2 class="text-white lorem-random-text ">Do not feel like housework?</h2>
            <h4 class="text-white">Great! Book now for Helperland and enjoy the benefits</h4>
            <ul>
                <li class="text-white">certified & insured helper</li>
                <li class="text-white">certified & insured helper</li>
                <li class="text-white">friendly customer service</li>
                <li class="text-white">secure online payment method</li>
            </ul>
        </div>

        <div class="btn-wrapper text-center">
            <a asp-controller="Customer" asp-action="BookService" title="Let's Book a Cleaner" class="blue-btn">Let's Book a Cleaner</a>
        </div>

        <div class="container step-to-enroll">
            <div class="row justify-content-center">

                <div class="col-md-auto col-6 text-white text-center">
                    <img class="step-1-img" src="./assets/images/step-1.svg" alt="" height="50px">
                    <p class="mt-3 text-white">Enter your postcode</p>
                </div>
                <div class="col-1 step-arrow mt-3">
                    <img src="./assets/images/step-arrow-1.png" alt="">
                </div>
                <div class="col-md-auto col-6 text-white text-center">
                    <img class="step-2-img" src="./assets/images/step-2.png" alt="" height="50px">
                    <p class="mt-3 text-white">Select your plan</p>
                </div>
                <div class="col-1 step-arrow mt-3">
                    <img src="./assets/images/step-arrow-1-copy.png" alt="">
                </div>
                <div class="col-md-auto col-6 text-white text-center">
                    <img class="step-3-img" src="./assets/images/step-3.svg" alt="" height="50px">
                    <p class="mt-3 text-white">Pay securely online</p>
                </div>
                <div class="col-1 step-arrow mt-3">
                    <img src="./assets/images/step-arrow-1.png" alt="">
                </div>
                <div class="col-md-auto col-6 text-white text-center">
                    <img class="step-4-img" src="./assets/images/step-4.svg" alt="" height="50px">
                    <p class="mt-3 text-white">Enjoy amazing service</p>
                </div>
            </div>
        </div>
        <div class="text-center pb-4">
            <a href="#whyHelperland">
                <img class="mt-5" src="./assets/images/group-18_5.png" alt="">
            </a>
        </div>

    </section>
}


<!-- Why Helperland -->
<section>
    <div class="container mt-5">
        <div class="text-center why-helperland" id="whyHelperland">
            <h2> Why Helperland</h2>
        </div>

        <div class="row mt-5 justify-content-center">
            <div class="col-auto col-lg-4 col-sm-6">
                <div class="card border-0 p-3">
                    <img src="./assets/images/group-21.png" class="card-img-top" alt="...">
                    <div class="card-body mt-3">
                        <h4 class="card-title text-center">Experiance and Vetted Professionals</h4>
                        <p class="card-text text-center mt-4">
                            Dominate the industry in scale and scope with an
                            adaptable,
                            extensive network that consistently
                            delivers exceptional results.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-auto col-lg-4 col-sm-6">
                <div class="card border-0 p-3">
                    <img src="./assets/images/group-23.png" class="card-img-top" alt="...">
                    <div class="card-body mt-3">
                        <h4 class="card-title text-center">Secure Online Payment</h4>
                        <p class="card-text text-center mt-4">
                            Payment is processed securely online. Customers pay
                            safely
                            online
                            and manage the booking.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-auto col-lg-4 col-sm-6">
                <div class="card border-0 p-3">
                    <img src="./assets/images/group-24.png" class="card-img-top" alt="...">
                    <div class="card-body mt-3">
                        <h4 class="card-title text-center">Dedicated Customer Service</h4>
                        <p class="card-text text-center mt-4">
                            To our customers and are guided in all we do by their
                            needs.
                            the
                            team is always happy tp support you
                            and offers all the
                            information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Lorem three images -->
<section class="lorem-three-images lorem-three-images-bg">
    <div class="container">
        <div class="threeimg mt-5">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-6">
                    <h2 class="h3">Lorem ipsum dolor sit amet, consectetur</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut
                        accumsan
                        vitae, pulvinar ac libero.
                    </p>
                    <p>
                        Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna
                        finibus
                        vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante
                        quis
                        vehicula.
                    </p>
                    <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="image-wrapper">
                        <img src="./assets/images/group-36.png" alt="Blog description" width="100%">
                    </div>
                </div>
            </div>
        </div>

        <div class="our-blog-three-card">
            <h2 class="text-center mt-2">Our Blog</h2>

            <div class="blog-three-card mt-5">
                <div class="row justify-content-center mb-5">
                    <div class="col-auto col-lg-4 col-md-auto">
                        <div class="card border-0 justify-content-center rounded-rectangle ms-2 me-2">
                            <img src="./assets/images//group-28.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="mb-0">Lorem ipsum dolor sit amet</h4>
                                <span class="date">January 28, 2019</span>
                                <p class="pt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                    fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a href="#" title="Read More" class="arrow-link">
                                    Read the Post<em>
                                        <img src="./assets/images/shape-2.png" alt="right arrow">
                                    </em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-lg-4 col-md-auto">
                        <div class="card border-0 justify-content-center rounded-rectangle ms-2 me-2">
                            <img src="./assets/images/group-29.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="mb-0">Lorem ipsum dolor sit amet</h4>
                                <span class="date">January 28, 2019</span>
                                <p class="pt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                    fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a href="#" title="Read More" class="arrow-link">
                                    Read the Post<em>
                                        <img src="./assets/images/shape-2.png" alt="right arrow">
                                    </em>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto col-lg-4 col-md-auto">
                        <div class="card border-0 justify-content-center rounded-rectangle ms-2 me-2">
                            <img src="./assets/images/group-30.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h4 class="mb-0">Lorem ipsum dolor sit amet</h4>
                                <span class="date">January 28, 2019</span>
                                <p class="pt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                    fermentum metus
                                    pulvinar aliquet.
                                </p>
                                <a href="#" title="Read More" class="arrow-link">
                                    Read the Post<em>
                                        <img src="./assets/images/shape-2.png" alt="right arrow">
                                    </em>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- What our customer say -->
<section style="background-color: #f4f5f8;">
    <div class="container">
        <h2 class="text-center pt-5">What Our Customers Say</h2>

        <div class="mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-12 mt-2">
                    <div class="left-border rounded-rectangle pt-3 pb-3 ps-4 pe-4 ms-2 me-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="./assets/images/group-31.png" class="card-img-top"
                                     alt="...">
                            </div>
                            <div class="col-7 pt-3">
                                <span class="person-name">Lary Watson</span><br>
                                <span class="person-city">Manchester</span>
                            </div>
                            <div class="col-1 text-end">
                                <img src="./assets/images/message.svg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-3">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                        pulvinar aliquet consequat. Praesent nec malesuada nibh.
                                    </p>
                                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                    <a href="#" title="Read More" class="arrow-link">
                                        Read More <em>
                                            <img src="./assets/images/shape-2.png" alt="Right Arrow">
                                        </em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-2">
                    <div class="left-border rounded-rectangle pt-3 pb-3 ps-4 pe-4 ms-2 me-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="./assets/images/group-32.png" class="card-img-top"
                                     alt="...">
                            </div>
                            <div class="col-7 pt-3">
                                <span class="person-name">John Smit</span><br>
                                <span class="person-city">Manchester</span>
                            </div>
                            <div class="col-1 text-end">
                                <img src="./assets/images/message.svg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-3">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                        pulvinar aliquet consequat. Praesent nec malesuada nibh.
                                    </p>
                                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                    <a href="#" title="Read More" class="arrow-link">
                                        Read More <em>
                                            <img src="./assets/images/shape-2.png" alt="Right Arrow">
                                        </em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mt-2">
                    <div class="left-border rounded-rectangle pt-3 pb-3 ps-4 pe-4 ms-2 me-2">
                        <div class="row">
                            <div class="col-3">
                                <img src="./assets/images/group-33.png" class="card-img-top"
                                     alt="...">
                            </div>
                            <div class="col-7 pt-3">
                                <span class="person-name">Lars Johnson</span><br>
                                <span class="person-city">Manchester</span>
                            </div>
                            <div class="col-1 text-end">
                                <img src="./assets/images/message.svg" alt="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mt-3">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus
                                        pulvinar aliquet consequat. Praesent nec malesuada nibh.
                                    </p>
                                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                    <a href="#" title="Read More" class="arrow-link">
                                        Read More <em>
                                            <img src="./assets/images/shape-2.png" alt="Right Arrow">
                                        </em>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3 bottom-two-btn">
        <div class="col-6">
            <div class="ps-4">
                <a href="#">
                    <img class="arrow-up" src="./assets/images/arrow-up-circle-border.bmp" alt="">
                </a>
            </div>
        </div>
        <div class="col-6 text-end">
            <div class="pe-4">
                <img src="./assets/images/layer-598.png" alt="">
            </div>
        </div>
    </div>

    <!-- Get our newsletter -->
    <div class="row justify-content-center get-our-newsletter">
        <div class="col col-auto get-our-newslwtter">
            <h6>GET OUR NEWSLWTTER</h6>
        </div>
    </div>
    <div class="row justify-content-center enter-your-mail-and-submit mb-4">
        <div class="col col-auto">
            <form class="row g-3">
                <div class="col-12 text-center col-sm-auto">
                    <label for="inputEmail" class="visually-hidden">E-mail</label>
                    <input type="email" class="form-control email m-0" id="inputEmail" placeholder="YOUR EMAIL">
                </div>
                <div class="col-12 text-center col-sm-auto">
                    <button type="submit" class="btn btn-primary mb-3 btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

@* Custome Alert *@
    <section>
        <a href="#" class="modallink d-none" data-bs-toggle="modal" data-bs-target="#custom-alert-modal"
            id="custom-alert-modal-link"></a>
        <div class="modal fade" id="custom-alert-modal" tabindex="-1" aria-labelledby="customAlertModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="max-width: 350px; margin-left: 100px;">

                    <div class="container mt-3 ms-1 d-flex">
                        <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <div class="rounded-circle d-inline-block bg-success" style="width: 60px; height: 60px;" id="custom-alert-modal-arrow-div">
                                <p class="text-white fs-4 p-1 pt-2 pb-2 mt-1" id="custom-alert-modal-sign">✓</p>
                            </div>
                            <div id="custom-alert-modal-content-div">
                                <h4 class="mt-3 fw-normal" id="custom-alert-modal-alert-message">Alert message</h4>
                            </div>
                            <button type="button" class="modal-btn w-auto ps-4 pe-4" id="custom-alert-modal-btn-ok" data-bs-dismiss="modal"
                            aria-label="Close">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script>
    function showSuccessAlertMessage(message){
  $("#custom-alert-modal-arrow-div").removeClass("bg-danger");
  $("#custom-alert-modal-arrow-div").addClass("bg-success");

  $("#custom-alert-modal-sign").html("✓");

  $("#custom-alert-modal-alert-message").html(message);
  
  document.getElementById("custom-alert-modal-link").click();
}

function showErrorAlertMessage(message){
  $("#custom-alert-modal-arrow-div").removeClass("bg-success");
  $("#custom-alert-modal-arrow-div").addClass("bg-danger");

  $("#custom-alert-modal-sign").html("✕");

  $("#custom-alert-modal-alert-message").html(message);

  document.getElementById("custom-alert-modal-link").click();
}
</script>

<asp:content contentplaceholder id="script" runat="server">
    <script src="~/assets/js/home.js"></script>
</asp:content>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}