@{
    ViewData["Title"] = "Prices";
    Layout = "_StaticLayout";
}
<asp:content contentplaceholder id="css" runat="server">
    <link href="~/assets/css/prices.css" rel="stylesheet" />
</asp:content>

<!-- Image Banner -->
<section>
    <div class="bg-img">
        <img src="~/assets/images/group-18.png" alt="" width="100%">
    </div>
</section>

<!-- Price box -->
<section>
    <div class="container">
        <h2 class="text-center mt-4">Prices</h2>
        <div class="text-center">
            <hr class="star-hr">
            <img style="margin-bottom: 24px;" class="text-center" src="~/assets/images/forma-1-copy-5.png" alt="">
            <hr class="star-hr">
        </div>


        <div class="row justify-content-center price-card mt-3">

            <div class="text-center">
                <div class="container">
                    <div class="card-border">
                        <input class="btn-one-time" type="button" value="One Time">
                        <div class="text-center">
                            <h3 style="font-size: 36px; font-style: bold;">
                                &euro;20<span style="font-size: 20px;">/hr</span>
                            </h3>

                        </div>
                        <div class="text-center">
                            <div class="text-left">
                                <ul class="price-ul-list">
                                    <li><img src="~/assets/images/forma-1_5.png" alt=""> Lower Prices</li>
                                    <li>
                                        <img src="~/assets/images/forma-1_5.png" alt=""> Easy online and secure
                                        payment
                                    </li>
                                    <li><img src="~/assets/images/forma-1_5.png" alt=""> Easy amedmnet</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <hr>
    </div>
</section>

<!-- Extra Services -->
<section>
    <div class="container">
        <h2 class="text-center extra-services">Extra Services</h2>
        <div class="text-center">
            <hr class="star-hr">
            <img style="margin-bottom: 24px;" class="text-center" src="~/assets/images/forma-1-copy-5.png" alt="">
            <hr class="star-hr">
        </div>

        <div class="row justify-content-center mt-4">

            <div class="col-auto col-sm-4 col-xl-2 text-center">
                <div class="rounded-grey-box mb-2">
                    <img src="~/assets/images/3.png" alt="">
                </div>
                <p>inside cabinate</p>
                <p class="work-time">30 minutes</p>
            </div>
            <div class="col-auto col-sm-4 col-xl-2 text-center">
                <div class="rounded-grey-box mb-2">
                    <img src="~/assets/images/5.png" alt="">
                </div>
                <p>inside fridge</p>
                <p class="work-time">30 minutes</p>
            </div>
            <div class="col-auto  col-sm-4 col-xl-2 text-center">
                <div class="rounded-grey-box mb-2">
                    <img src="~/assets/images/4.png" alt="">
                </div>
                <p>inside oven</p>
                <p class="work-time">30 minutes</p>
            </div>
            <div class="col-auto  col-sm-4 col-xl-2 text-center">
                <div class="rounded-grey-box mb-2">
                    <img src="~/assets/images/2.png" alt="">
                </div>
                <p>inside wash & dry</p>
                <p class="work-time">30 minutes</p>
            </div>
            <div class="col-auto  col-sm-4 col-xl-2 text-center">
                <div class="rounded-grey-box mb-2">
                    <img src="~/assets/images/1.png" alt="">
                </div>
                <p>interior window</p>
                <p class="work-time">30 minutes</p>
            </div>

        </div>
    </div>
</section>

<!-- What we include in cleaning -->
<section class="what-we-include-in-cleaning">
    <div class="container">
        <div class="our-blog-three-card">
            <h2 class="text-center extra-services pt-5">What we include in cleaning</h2>
            <div class="text-center">
                <hr class="star-hr">
                <img style="margin-bottom: 24px;" class="text-center" src="~/assets/images/forma-1-copy-5.png"
                     alt="">
                <hr class="star-hr">
            </div>

            <div class="blog-three-card mt-3">
                <div class="row justify-content-center pb-5">
                    <div class="col-lg-4 col-sm-6 col-auto">
                        <div class="card border-0 justify-content-center">
                            <img src="~/assets/images//group-18_3.png" class="card-img-top" alt="...">
                            <div class="card-body card-body-bg">
                                <h4>Bedroom and Living Room</h4>
                                <ul class="what-we-include-in-cleaning-ul">
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> Dust all accessible
                                        surface
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt="">
                                        Wipe down mirror and glass furnitures
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> claen all floor
                                        surface
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> Take out garbage and
                                        recycling
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-auto ">
                        <div class="card border-0 justify-content-center">
                            <img src="~/assets/images/group-18_4.png" class="card-img-top" alt="...">
                            <div class="card-body card-body-bg">
                                <h4>Bathrooms</h4>
                                <ul class="what-we-include-in-cleaning-ul">
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> Wash and sanitize
                                        the toilet, shower, tub, sink
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> Dust all accessible
                                        surface
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt="">
                                        Wipe down mirror and glass furnitures
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> claen all floor
                                        surface
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> Take out garbage and
                                        recycling
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-auto">
                        <div class="card border-0 justify-content-center">
                            <img src="~/assets/images/group-18_2.png" class="card-img-top" alt="...">
                            <div class="card-body card-body-bg">
                                <h4>kitchen</h4>
                                <ul class="what-we-include-in-cleaning-ul">
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt="">
                                        Dust all accessible surface
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt="">
                                        Empty sink and load up dishwasher
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt="">
                                        Wipe down exterior stove, oven and fridge
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> claen all floor
                                        surface
                                    </li>
                                    <li>
                                        <img src="~/assets/images/right-arrow-grey.png" alt=""> Take out garbage and
                                        recycling
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Why Helperland -->
<section>
    <div class="container">
        <h2 class="text-center extra-services">Why Helperland</h2>
        <div class="text-center">
            <hr class="star-hr">
            <img style="margin-bottom: 24px;" class="text-center" src="~/assets/images/forma-1-copy-5.png" alt="">
            <hr class="star-hr">
        </div>

        <div class="row mt-4">
            <div class="col-12 col-lg-4">
                <div class="row ">
                    <div class="col text-center text-lg-end">
                        <h4>Experienced and vetted professionals</h4>
                        <p>
                            dominate the industry in scale and scope with an adaptable, extensive network that
                            consistently delivers exceptional results.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-lg-end mt-4">
                        <h4>Dedicated customer service</h4>
                        <p>
                            to our customers and are guided in all we do by their needs. The team is always happy to
                            support you and offer all the information. you need.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 text-center">
                <img src="~/assets/images/the-best-img-1.png" alt="">
            </div>
            <div class="col-12 col-lg-4">
                <div class="row">
                    <div class="col text-center text-lg-start">
                        <h4>Every cleaning is insured</h4>
                        <p>
                            and seek to provide exceptional service and engage in proactive behavior. We‘d be happy
                            to clean your homes.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-lg-start mt-4">
                        <h4>Secure online payment</h4>
                        <p>
                            Payment is processed securely online. Customers pay safely online and manage the booking.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Get our newsletter -->
<section>
    <div class="row mt-3 bottom-two-btn">
        <div class="col-6">
            <div class="ps-4">
                <a href="#">
                    <img class="arrow-up" src="~/assets/images/arrow-up-circle-border.bmp" alt="">
                </a>
            </div>
        </div>
        <div class="col-6 text-end">
            <div class="pe-4">
                <img src="~/assets/images/layer-598.png" alt="">
            </div>
        </div>
    </div>
    <div class="row justify-content-center get-our-newsletter">
        <div class="col col-auto get-our-newslwtter">
            <h6>GET OUR NEWSLWTTER</h6>
        </div>
    </div>
    <div class="row justify-content-center enter-your-mail-and-submit mb-5">
        <div class="col col-auto">
            <form class="row g-3">
                <div class="col-12 text-center col-sm-auto">
                    <label for="inputEmail" class="visually-hidden">E-mail</label>
                    <input type="email" class="form-control email m-0" id="inputEmail" placeholder="YOUR EMAIL">
                </div>
                <div class="col-12 text-center col-sm-auto">
                    <button type="submit" class="btn btn-primary mb-3 btn-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>