.about-banner{
    width: 100%;
}

.a-few-words-about-us{
    margin-top: 32px;
}
.a-few-word-about-us-details{
    margin-top: 35px;
}

.our-story{
    margin-top: 39px;
}
.our-story-details{
    margin-top: 35px;
}