#pills-home-tab {
    background-color: #1d7a8c;
    color: white;
  }
  
  .form-div{
    width: 614px;
  }
  .contact-us-banner {
    width: 100%;
    margin-top: 60px;
  }
  
  .bottom-margin-5 {
    margin-bottom: 15px;
  }
  
  .btn-submit-form {
    width: 163px;
    height: 46px;
    outline: none;
    background: #1d7a8c 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border:none;
    font-weight: bold;
  }
  
  @media screen and (max-width: 768px) {
    
  }