@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body {
  overflow-x: hidden;
  font-family: 'Roboto';
    }
.logo{
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.main{
    background-color:  #737381;
    position: fixed;
    width: 100%;
}

.navbar-top{
    top: 0px;
    right: 0px;
    z-index: 2000;
    /* background-color: red; */
    /* width: 100%; */
}

nav{
    float: right;
    
}
.book-a-cleaner {
  width: 120px;
  height: 40px;
  background: #1D7A8C 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
}
.prices{
    border: 1px solid #ffffff80;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
}
/* .prices_services{
    width: 161px;
  height: 40px;
  background: #1D7A8C 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  text-align: center; */
/* } */
.login {
  width: 97px;
  height: 40px;
  background: #1D7A8C 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
}

.become-a-helper {
  width: 161px;
  height: 40px;
  background: #1D7A8C 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
}
.book-a-cleaner, .prices, .our-guarantee, .blog, .contact-us, .login, .become-a-helper{
    margin-right: 15px;
}

#pills-home-tab{
    background-color: #1D7A8C;
    color: white;
}
#pills-profile-tab{
    /* background-color: #1D7A8C;
    color: white; */

}
.faq-banner{
    width: 100%;
    margin-top: 50px;
}
.img{
    width: 50px;
}
.container{
    margin-top: 30px;
}

#pills-home-tab{
    text-align: center;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #1D7A8C;
    width: 100%;
}
#pills-profile-tab{
    text-align: center;
    border: none;
    border-radius: 0px;
    border-bottom: 3px solid #1D7A8C;
    width: 100%;
}
#pills-tab{
    border: none;
}
#pills-tabContent{
    margin-left: 17%;
    margin-right: 17%;
}
.forcustomer{
    margin-top: 35px;
}
.dowm-arrow{
    margin-right: 10px;
    cursor: pointer;
}
.detail{
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
    display: unset;
}
.forserviceprovider{
    margin-top: 35px;
}
#p2,#p4,#p6,#p8,#p10,#p12,#p14,#p16,#p18,#p20,#p22,#p24,#p26,#p28,#p30,#p32,#p34,#p36{
    display: none;
    /* visibility: hidden; */
}
.detail1{
    margin-top: 10px;
    margin-left: 6%;
    margin-right: 6%;
}


.get-our-newsletter{
    margin-top: 50px;
  }
  
  .email{
    border-radius: 20px; border: solid 1px #565656; background-color: #f4f5f8; color: #565656; font-size: 14px; height: 40px; line-height: 40px; padding: 0 22px; 
  }
  
  .btn-submit { 
    background-color: #FF7B6D;
    font-size: 18px; line-height: 3px; height: 40px; border-radius: 20px; border: none; outline: none; color: #fff; width: 88px; transition: 0.3s all; }
  .btn-submit:hover { background-color: #eb6e61; color: #fff; }
  
  
  .footer-main{
    background-color: #111111;
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 30px;
  }
  
  .footer-list{
    list-style: none;
    margin-top: 10px;
  }
  
  .footer-list-item{
  
    color: #f4f5f8;
    text-decoration: none;
    margin-left: 30px;
  }
  
  .footer-logo{
    margin-left: 55px;
  }