.blue-rounded-btn{
  background: none;
}
.prices{
  border: none;
}
.nav-header-bg{
  width: 100%;
  background-image: url("../images/Landing-Page-background-image.png");
  background-size:cover;
  background-attachment: fixed;
}
ul {
  list-style-image: url("../images/ic-check.png");
}

.lorem-random-text {
  padding-top: 280px;
}

.blue-btn {
  display: inline-block;
  background-color: rgba(0, 96, 114, 0.6);
  border-radius: 27px;
  border: 1px solid #ffffff;
  height: 54px;
  line-height: 52px;
  color: #fff !important;
  text-decoration: none;
  min-width: 225px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.btn-wrapper {
  /* margin-bottom: 160px; */
}

.step-to-enroll {
  margin-top: 150px;
}

.step-arrow {
  /* padding-top: 20px; */
}

.down-arrow-img {
  margin-top: 20px;
}

.why-helperland {
  margin-top: 79px;
}

.why-helperland-cards {
  margin-top: 82.5px;
}

.threeimg {
  margin-top: 170px;
}

.blog-three-card {
  margin-top: 50px;
}

.arrow-link {
  font-size: 18px;
  color: #4f4f4f !important;
  font-weight: 400;
  text-decoration: none;
}
.arrow-link em {
  margin-left: 10px;
  position: relative;
  right: 0;
  transition: all 0.5s;
}

.what-our-customer-say {
  margin-top: 70px;
}

.three-customers {
  margin-top: 80px;
}

.person-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}
.person-city {
  color: #8e8e8e;
  font-size: 14px;
}
.person-detail {
  margin-top: 15px;
}

.left-border {
  border-left: 3px solid #1d7a8c;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 992px) {
  .img {
    width: 65px;
  }
}

@media screen and (max-width: 1200px) {
  .step-arrow {
    display: none;
  }
}