.notification-icon {
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  border-left: 2px solid #E1E1E1;
}
.user-icon{
    padding-left: 10px;
    border-left: 2px solid #E1E1E1;
}
h1{
    font-weight: lighter;
}
span{
    font-weight: bold;
}
.welcome-user{
    padding: 25px;
    background-color: #F9F9F9;
}