body{
top: 0px;
left: 0px;
/* width: 1560px;
height: 930px; */
background-image: url('/images/Landing-Page-background-image.png');
background-repeat: no-repeat;
background-size: 100%;
opacity: 0.8;
}
.navigation{
    display: flex;
    top: 43px;
    font-size: 17px;
    left: 620px;
    width: 828px;
    height: 40px;
    float: right;
    opacity: 1;
    /* border: 1px solid #FFFFFF80; */
}
.nav-1{
    display: flex;
    width: fit-content;
    height: 20px;
    font-size: 17px;
    top: 52px;
    left: 644px;
    text-align: right;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.book-a-cleaner{
    top: 43px;
    left: 620px;
    width: 161px ;
    height: 40px;
    background: #00607200 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
}
.login{
    top: 43px;
    left: 1210px;
    width: 97px;
    height: 40px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
}
.become-a-helper{
    top: 43px;
    left: 1318px;
    width: 161px;
    height: 40px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF80;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
}
.book-a-cleaner, .prices, .our-guarantee, .blog, .contact-us, .login, .become-a-helper{
    margin-right: 15px;
    margin-top: 43px;
    /* padding-top: 10px; */
}