body {
  top: 0px;
  left: 0px;

  background-image: url("/images/Landing-Page-background-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.8;
}

.logo{
    display: inline-block;
    margin: 10px;
}
nav{
    float: right;
}
.book-a-cleaner {
  width: 161px;
  height: 40px;
  background: #00607200 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
}

.login {
  width: 97px;
  height: 40px;
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
}

.become-a-helper {
  width: 161px;
  height: 40px;
  background: #ffffff00 0% 0% no-repeat padding-box;
  border: 1px solid #ffffff80;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
}

.nav-1{
    padding-top: 43px;
}

.book-a-cleaner, .prices, .our-guarantee, .blog, .contact-us, .login, .become-a-helper{
    margin-right: 15px;
}

ul{
    list-style-image: url("images/");
}
