#pills-home-tab{
  background-color: #177b8d;
  color: white;
}

.faq-banner{
  width: 100%;
}

.container{
  margin-top: 30px;
}

#pills-home-tab{
  text-align: center;
  border: none;
  border-radius: 0px;
  border-bottom: 3px solid #177b8d;
  width: 100%;
}
#pills-profile-tab{
  text-align: center;
  border: none;
  border-radius: 0px;
  color: #646464;
  border-bottom: 3px solid #177b8d;
  width: 100%;
}
#pills-tab{
  border: none;
}
#pills-tabContent{
  margin-left: 17%;
  margin-right: 17%;
}
.forcustomer{
  margin-top: 35px;
}
.dowm-arrow{
  margin-right: 10px;
  cursor: pointer;
}
.detail{
  margin-top: 10px;
  margin-left: 6%;
  margin-right: 6%;
  display: unset;
}
.forserviceprovider{
  margin-top: 35px;
}
#p1,#p3,#p5,#p7,#p9,#p11,#p13,#p15,#p17,#p19,#p21,#p23,#p25,#p27,#p29,#p31,#p33,#p35{
  color: #646464;
  font-weight: bold;
}
#p2,#p4,#p6,#p8,#p10,#p12,#p14,#p16,#p18,#p20,#p22,#p24,#p26,#p28,#p30,#p32,#p34,#p36{
  color: #646464;
  display: none;
}
.detail1{
  margin-top: 10px;
  margin-left: 6%;
  margin-right: 6%;
}