
.price-ul-list {
  list-style: none;
}
.btn-one-time {
  border: none;
  background-color: #1d7a8c;
  width: 400px;
  height: 45px;
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.text-left {
  display: inline-block;
  text-align: left;
}

.work-time {
  color: #1d7a8c;
}
.card-border {
  display: inline-block;
  border: 1px solid #b0c9ce;
}

.extra-services {
  margin-top: 50px;
}

.rounded-grey-box {
  height: 108px;
  width: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b0c9ce;
  border-radius: 50%;
}

.extra-services-row {
  margin-top: 50px;
}

.what-we-include-in-cleaning-ul {
  list-style: none;
  list-style-image: url("../images/right-arrow-grey.png");
}
.red-border {
  border: 5px solid red;
}


@media screen and (max-width: 470px) {
  .btn-one-time {
    width: 100%;
  }
  .card-border {
    width: 100%;
  }
}