@{
    String CurrentUserName = new KeepMeLoggedInValidToken().GetName(Context.Request.Cookies["keepMeLoggedInToken"]);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <asp:contentPlaceholder id="css" runat="server" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>@ViewBag.Title</title>
</head>

<body>


    <div class="main ">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index" title="Home">
                <img class="img-logo" src="~/assets/images/logo-small.png" alt="">
            </a>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark navbar-top">

            <div class="container-fluid nav-1">
                <div class="nav-btn">
                    <button style="float: right;" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <div class="nav-ul-vertical-list">
                        <ul class="navbar-nav">
                            <li class="nav-item text-white book-a-cleaner blue-rounded-btn">
                                <a class="nav-link text-white" href="#">Book now</a>
                            </li>
                            <li class="nav-item text-white prices blue-rounded-btn">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Prices">Prices & services</a>
                            </li>
                            <li class="nav-item text-white our-guarantee">
                                <a class="nav-link text-white" href="#">Warrenty</a>
                            </li>
                            <li class="nav-item text-white blog">
                                <a class="nav-link text-white" href="#">Blog</a>
                            </li>
                            <li class="nav-item text-white contact-us">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            @if (@CurrentUserName == null)
                            {
                                <li class="nav-item text-white login blue-rounded-btn">
                                    <a class="nav-link text-white" asp-action="Index" asp-route-loginModal="true">Login</a>
                                </li>
                                <li class="nav-item text-white become-a-helper blue-rounded-btn">
                                    <a class="nav-link text-white" asp-controller="Account" asp-action="BecomeProvider">
                                        Become
                                        a
                                        Helper
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#"><img src="./assets/images/user.png" alt="" height="25px"><span class="text-white ms-2 me-2">@CurrentUserName</span></a>
                                </li>
                                <li class="nav-item text-center">
                                    <a asp-controller="Account" asp-action="LogOut"><img src="./assets/images/logout.png" alt="Logout"  height="28px"></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </div>

    <div>
        @RenderBody()
    </div>



    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-12 footer-logo text-center">
                        <a asp-controller="Home" asp-action="Index">
                            <img class="" src="~/assets/images/logo-large.png" alt="" width="100px">
                        </a>
                    </div>
                    <div class="col-lg-10 col-md-10 col-12 text-center mt-3 mb-3">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-auto">
                                <a class="footer-list-item" asp-controller="Home" asp-action="Index" title="Home">Home</a>

                            </div>
                            <div class="col-12 col-lg-auto">
                                <a class="footer-list-item" asp-controller="Home" asp-action="About" title="About">About</a>

                            </div>
                            <div class="col-12 col-lg-auto">
                                <a class="footer-list-item" href="#" title="Testimonials">Testimonials</a>

                            </div>
                            <div class="col-12 col-lg-auto">
                                <a class="footer-list-item" asp-controller="Home" asp-action="Faq" title="FAQs">FAQs</a>

                            </div>
                            <div class="col-12 col-lg-auto">

                                <a class="footer-list-item" href="#" title="Insurance Policy">Insurance Policy</a>
                            </div>
                            <div class="col-12 col-lg-auto">
                                <a class="footer-list-item" href="#" title="Impressum">Impressum</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-12 text-center mt-3">
                        <img src="~/assets/images/fb-img.svg" alt="">
                        <img class="ms-lg-3 ms-md-0 ms-3" src="~/assets/images/insta-img.svg" alt="">
                    </div>

                </div>
                <hr style="background-color: #424242;">
                <div class="text-center">
                    <span style="color: #737381;">
                        ©2018Helperland. All rights reserved. &nbsp;&nbsp;&nbsp; Terms and Conditions  |  Privacy Policy
                    </span>
                </div>
            </div>
        </div>

    </footer>

    <asp:contentPlaceholder id="validation-js" runat="server"/>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
